/* modificacion tamaño boton */
.btn-stage{
    height: 500px;
    padding: 0px 32px; 
}

.contenedor-botones{
    width: 70%;
    /* border: 1px solid red; */
}

.wrapper-botones{
    height: 70vh;
}