<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Listar Ventas</title>
  <!-- CSS Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <div class="container">
        <a class="navbar-brand" href="#"><img src="../img/LOGO_TRANS_2.svg" alt="LogoCourageous" height="50px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-nowrap text-center" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active d-flex " aria-current="page" href="./maestroVentas.html">Maestro Ventas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active d-flex" href="./maestroProductos.html">Maestro Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active d-flex" href="./maestroUsuarios.html">Maestro usuarios</a>
            </li>



          </ul>
          <div class="navbar-nav nav-item container d-flex flex-wrap justify-content-end  ">
            <a href="#" class="d-none d-sm-block link-dark text-decoration-none perfil-img-interna">
              <img src="https://github.com/mdo.png" alt="mdo" width="40" height="40" class="rounded-circle imagen-logo "
                style="margin-right: 10px;  ">
            </a>
            <div class="navbar-nav text-end">
              <button type="button" class="btn btn-primary">Cerrar Sesión</button>
            </div>
          </div>



        </div>

      </div>
    </nav>

  </header>
  <div class="container">
    <div>
      <!-- Titulo -->
      <h3 class="h3" align="right">Buscar / Listar venta</h3>
    </div>
    <!-- Opciones de Búsqueda -->
    <div class="input-group mb-3">
      <input type="number" id="id" class="form-control" placeholder="Id venta" aria-label="Id venta"
        aria-describedby="basic-addon2" />
      <input type="number" id="idcliente" class="form-control" placeholder="Doc Identidad Cliente"
        aria-label="Doc Identidad Cliente" aria-describedby="basic-addon2" />
      <input type="number" id="idVendedor" class="form-control" placeholder="Id Vendedor" aria-label="Id Vendedor"
        aria-describedby="basic-addon2" />

      <!-- Botón -->
      <input type="button" value="Buscar" id="botonBuscar" class="btn btn-dark" />
      <input type="button" value="Limpiar" id="limpiar" class="btn btn-dark" />
    </div>
    <!-- Resultado de Edición -->
    <form id="formularioEdicion" class="row g-1">
      <div>Ingrese la información a editar:</div>
      <div >
        <label for="inputIdVenta" class="form-label">ID Venta:</label>
        <input name="idVenta" id="inputIdVenta" class="form-control" readonly="readonly" required>
      </div>
      <div class="col-12 col-md-4">
        <label for="inputIdProducto" class="form-label">ID Producto:</label>
        <select name="idproducto" id="inputIdProducto" class="form-control" required>
        </select>
      </div>

      <div id="valtotal" class="col-4">
        <label for="inputValorTotal" class="form-label">Valor Total</label>
        <input type="number" class="form-control" min="0" id="inputValorTotal" readonly="readonly" required>
        <br>
      </div>
      <div class="col-5 col-md-4" id="preciounitario">
        <label for="inputPrecioUnitario" class="form-label">Precio Unitario/Producto</label>
        <input type="number" class="form-control" min="0" id="inputPrecioUnitario" readonly="readonly" required>
      </div>

      <div class="col-3 col-md-2">
        <label for="inputCantidad" class="form-label">Cantidad</label>
        <input type="number" class="form-control" min="0" id="inputCantidad" required>
      </div>
      <div class="col-4 col-md-4">
        <label for="inputFechaVenta" class="form-label">Fecha Venta</label>
        <input type="date" class="form-control" min="2000-01-02" id="inputFechaVenta" required>
      </div>
      <div class="col-5 col-md-5">
        <label for="inputEstadoVenta" class="form-label">Estado Venta</label>
        <select id="inputEstadoVenta" class="form-select" value="" required>
          <option disabled value="" selected>Elija un estado</option>
          <option value=" 1">En progreso</option>
          <option value="2">Cancelada</option>
          <option value="3">Entregada</option>
        </select>
      </div>
      <div class="col-5 col-md-4">
        <label for="inputDocumentoIdentidadCliente" class="form-label">Documento Identidad Cliente</label>
        <input type="number" class="form-control" min="0" id="inputDocumentoIdentidadCliente" required>
      </div>
      <div class="col-8 col-md-7">
        <label for="inputNombreCliente" class="form-label">Nombre Cliente</label>
        <input type="text" class="form-control" id="inputNombreCliente" placeholder="" required>
      </div>
      <div class="col-8 col-md-4">
        <label for="inputIdVendedor" class="form-label">ID Vendedor Asignado</label>
        <input type="number" class="form-control" min="0" id="inputIdVendedor" placeholder="" required>
      </div>

      <div class="col-4 d-flex justify-content-end mt-2">
        <button type="submit" id="botonConfirmar" class="btn btn-dark">
          Confirmar Edición
        </button>
      </div>

      <div class="modal fade" id="modalConfirmacionRegistro" tabindex="-1"
        aria-labelledby="modalConfirmacionRegistroLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalConfirmacionRegistroLabel">Confirmación</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              El producto ha sido actualizado.
            </div>
            <div class="modal-footer">
              <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button> -->
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                id="btnGuardarCambios">Aceptar</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <br>
    <!-- Tabla resultado busqueda -->
    <table class="table">
      <thead class="table table-dark">
        <tr>
          <th scope="col">Id Venta</th>
          <th scope="col">Estado</th>
          <th scope="col">Valor total venta</th>
          <th scope="col">Id Prod</th>
          <th scope="col">Cantidad Producto</th>
          <th scope="col">Precio unitario</th>
          <th scope="col">Fecha venta</th>
          <th scope="col">Doc. Identidad cliente</th>
          <th scope="col">Nombre Cliente</th>
          <th scope="col">Id Vendedor</th>
          <th scope="col">Editar</th>
        </tr>
      </thead>
      <tbody id="bodyTabla"></tbody>
    </table>
  </div>
  <footer>
    <br />
    <center>
      <h5>Venta Gasolina</h5>
    </center>
    <center><label for="">© 2021 Copyright: Courageous Code</label></center>
  </footer>
  <!-- JS de bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
  <!-- Jquery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-app.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-firestore.js"></script>

  <script src="/js/firebaseConfig.js"></script>
  <script src="/js/listarVentasDB.js"></script>
  <!--  <script src="/js/listar_ventas.js"></script> -->
</body>

</html>