<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Usuarios</title>
    <!-- CSS Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>

<body>

    <header>
        <!-- Titulo -->
        <h3>Actualizar (Rol/Estado) de usuario</h3>
        <nav></nav>
    </header>

    <main>
        <section>
            <article>

            </article>
        </section>

    </main>

    <!-- Opciones de Búsqueda -->
    <div>
        <label for="">Id: </label><input type="number" id="id">
        <label for="">Nombre Usuario: </label><input type="text" id="nombre_usuario">
        <label for="">Estado: </label>
        <select name="estado" id="estado">
            <optgroup>
                <option value="seleccione">Pendiente</option>
                <option value="autorizado">Autorizado</option>
                <option value="no_autorizado">No Autorizado</option>
            </optgroup>
        </select>
        <label for="">Correo: </label><input type="email" id="correo">
        <label for="">Rol: </label>
        <select name="rol" id="rol">
            <optgroup>
                <option value="administrator">Administrator</option>
                <option value="seller">Seller</option>
            </optgroup>
        </select>
        <input type="button" value="Buscar" id="buscar">
    </div>

    <!-- Tabla resultado busqueda -->
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre de Usuario</th>
                <th>Correo</th>
                <th>Rol</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <th>Eliana Navarro</th>
                <th>elianaj22@gmail.com</th>
                <th>Adm</th>
                <th><a href="#">Editar</a></th>
            </tr>
            <tr>
                <th>2</th>
                <th>Andres Molina</th>
                <th>andresmolina1997@hotmail.com</th>
                <th>Seller</th>
                <th><a href="#">Editar</a></th>
            </tr>
            <tr>
                <th>3</th>
                <th>Andres Burbano</th>
                <th>faburbano2@gmail.com</th>
                <th>Seller</th>
                <th><a href="#">Editar</a></th>
            </tr>
            <tr>
                <th>4</th>
                <th>Juan Urrego</th>
                <th>j.a.u.m.0.6@gmail.com</th>
                <th>Seller</th>
                <th><a href="#">Editar</a></th>
            </tr>
            <tr>
                <th>5</th>
                <th>Sergio Ruiz</th>
                <th>sruiz9122@gmail.com</th>
                <th>Seller</th>
                <th><a href="#">Editar</a></th>
            </tr>

        </tbody>
    </table>

    <!-- Resultado de Edición -->
    <div>
        <label for="">Usuario: Andres Molina</label>
        <br>
        <label for="">Rol: </label>
        <select name="edicion_rol" id="edicion_rol">
            <optgroup>
                <option value="seleccione">Seleccione</option>
                <option value="administrator">Administrator</option>
                <option value="seller">Seller</option>
            </optgroup>
        </select>
        <br>
        <label for="">Estado: </label>
        <select name="edicion_estado" id="edicion_estado">
            <optgroup>
                <option value="seleccione">Pendiente</option>
                <option value="autorizado">Autorizado</option>
                <option value="no_autorizado">No Autorizado</option>
            </optgroup>
        </select>
        <br>
        <input type="button" value="Confirmar">

    </div>

    <footer>
        <br>
        <label for="">
            <h5>Venta Gasolina</h5>
        </label>
        <br>
        <label for="">© 2021 copyright: Corageous Code</label>
    </footer>
    <!-- JS de bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

</body>

</html>